.yaoStageBoxOuter {
  width: 100%;
  font-family: 'Microsoft Yahei Regular', 'Microsoft Yahei';
  padding-bottom: 34%;
}
.yaoStageLargeBox {
  float: left;
  position: relative;
  width: 16.7%;
/*  padding-bottom: 32%; */
}

.yaoStageBox {
  float: left;
  position: relative;
  width: 16.66%;
  padding-bottom: 16.66%;
  border: 1px solid #eee;
}

.yaoStageBoxOuter .grid .boxInner {
  position: absolute;
  overflow: hidden;
  height: 100%;
  background-color: #fefefe;
}
.yaoStageBoxOuter .boxInner .productImg {
}

.yaoStageLargeBox .boxInner img {
  width: 100%;
}

.yaoStageBox .boxInner img {
  padding: 2% 15%;
  width: 100%;
  -moz-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.yaoStageBox .boxInner:hover img {
  padding: 0 13%;
  width: 100%;
}

.yaoStageBoxOuter .grid .item .product-name {
  text-align: left;
  position: absolute;
  top: 71%;
  line-height: 15px;
  margin: 0 5px;
}

.yaoStageBoxOuter .grid .item .price-box {
  text-align: left;
  position: absolute;
  top: 88%;
  right: 10px;
}

.yaoStageBoxOuter .boxInner .addToCartButton {
  right: -30px;
  position: absolute;
  top: 10px;
  -moz-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.yaoStageBoxOuter .boxInner:hover .addToCartButton {
  right: 10px;
}
.yaoStageBoxOuter .boxInner .addToCartButton .ajax_add_to_cart_button:before{
  font-family: 'FontAwesome';
  content: "\f07a";
  line-height: 15px;
  font-size: 18px;
}

.yaoStageBoxOuter .boxInner .addToWishList {
  position: absolute;
  top: 10px;
  left:-30px;
  -moz-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.yaoStageBoxOuter .boxInner:hover .addToWishList {
  left:10px;
}
.yaoStageBoxOuter .boxInner .addToWishList .wishListButton:before{
  font-family: 'FontAwesome';
  font-size: 18px;
  content: "\f08a";
  line-height: 15px;
}

.yaoStageTitle {
  /*background: url(../img/bg-block.png) repeat-x center bottom;*/
  border-bottom: 2px solid rgb(207, 68, 11);
  /*-webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.2);*/
}
.yaoStageTitle h2{
  font: 18px/25px "Microsoft Yahei";
  text-transform: uppercase;
  padding: 0 0 2px 8px;
  /*background: url(../img/border_tab.png) no-repeat left bottom;*/
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .yaoStageLargeBox {
    display: none;
  }
  .yaoStageBox {
    width: 50%;
    padding-bottom: 50%;
    border: 1px solid #eee;
  }
  .yaoStageBoxOuter {
    padding-bottom: 250%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .yaoStageLargeBox {
    width: 33.3%;
  }
  .yaoStageBox {
    width: 33.3%;
    padding-bottom: 33.3%;
    border: 1px solid #eee;
  }
  .yaoStageBoxOuter {
    padding-bottom: 133.3%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .yaoStageLargeBox {
    width: 25%;
  }
  .yaoStageBox {
    width: 25%;
    padding-bottom: 25%;
    border: 1px solid #eee;
  }
  .yaoStageBoxOuter {
    padding-bottom: 75%;
  }
}
